body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0c0c;
    padding: 10px 20px;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.apps-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.apps-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px f9f9f9(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.video-card img {
    max-width: 100%;
    border-radius: 4px;
}
/*rodaper*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
}
/* Estilos para a página de login */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px f9f9f9(255, 255, 255, 0.1);
}

.login-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #030303;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #070707;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e60000;
}

p {
    text-align: center;
}

p a {
    color: #ff0000;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
/* Estilos para a página de cadastro */
.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #030303;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
}

p {
    text-align: center;
}

p a {
    color: #ff0000;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
